:root {
    --read-bg-color: rgb(26, 79, 32);
    --unread-bg-color: rgb(122, 17, 17);
    --button-bg-color: rgb(90, 90, 90);
    --new-button-bg-color: rgb(176, 192, 255);
    --focus-input-color: rgb(0, 255, 0);
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: Inter, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(35, 34, 36);
    color: white;
}

p {
    font-size: 16px;
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
}

#header {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#header > p {
    margin: 0;
    font-weight: 600;
    font-size: 64px;
    font-family: "Arvo", serif;
    font-style: normal;
    align-self: center;
}

#add {
    height: 80px;
    width: 80px;
    padding: 0;
    align-self: center;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
}

#add > img {
    width: 40px;
    height: 40px;
}

#main-content {
    display: flex;
    flex-direction: column;
}

#shelf {
    margin: 0 auto;
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: repeat(auto-fill, 220px);
    justify-content: center;
    gap: 20px;
}

.book {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px auto;
    gap: 10px;
}

.book-cover {
    width: 150px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px 0;
}

.book-info p {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.pages-section {
    display: flex;
    gap: 5px;
}

.pages-word {
    align-self: end;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons > button {
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    width: fit-content;
    border-radius: 10px;
    border: 0;
}

.read {
    background-color: var(--read-bg-color);
}

.unread {
    background-color: var(--unread-bg-color);
}

.remove {
    background-color: var(--button-bg-color);
}

#new-book {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.show-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

.hide-entry {
    display: none;
}

dialog {
    width: 30%;
    color: white;
    background-color: rgb(34, 36, 48);
    border-color: black;
}

dialog > p {
    font-weight: bold;
    font-size: 32px;
    margin: 20px;
    margin: 0;
}

#close-entry {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: transparent;
    color: white;
    border: 0;
    padding: 0;
}

#add > img,
#close-entry > img {
    filter: brightness(0) invert(1);
    pointer-events: none;
}

#close-entry,
#close-entry > img {
    height: 40px;
    width: 40px;
}

form {
    padding: 20px 0;
    font-size: 18px;
}

.form-row {
    margin-bottom: 20px;
}

.form-row:not(:last-of-type) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    font-size: 20px;
    color:  white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
}

input:focus {
    outline-color: var(--focus-input-color);
}

.form-row:last-of-type {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 20px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: white;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 5px;
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em white;

    background-color: CanvasText;

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid var(--focus-input-color);
    outline-offset: max(2px, 0.15em);
}

#submit-entry {
    font-size: 20px;
    background-color: var(--read-bg-color);
    color: white;
    padding: 10px 20px;
    border: 0;
    border-radius: 10px;
}

button:hover,
input:hover,
label:hover {
    cursor: pointer;
}