:root {
    --read-bg-color: rgb(26, 79, 32);
    --unread-bg-color: rgb(122, 17, 17);
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    
    font-family: Inter, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(35, 34, 36);
    color: white;
}

p {
    font-size: 16px;
}

#container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
}

#header {
    font-weight: 600;
    font-size: 64px;
    font-family: "Arvo", serif;
    font-style: normal;
    text-align: center;
    align-self: center;
}

#main-content {
    display: flex;
    flex-direction: column;
}

#shelf {
    margin: 0 auto;
    height: 80%;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-template-rows: repeat(auto-fill, 220px);
    justify-content: center;
    gap: 20px;
}

.book {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 150px auto;
    gap: 10px;
}

.book-cover {
    width: 150px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px 0;
}

.book-info p {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 18px;
    font-weight: 600;
}

.pages-section {
    display: flex;
    gap: 5px;
}

.pages-word {
    align-self: end;
}

.buttons {
    display: flex;
    gap: 10px;
}

.buttons > button {
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    width: fit-content;
    border-radius: 10px;
    border: 0;
}

.read {
    background-color: var(--read-bg-color);
}

.unread {
    background-color: var(--unread-bg-color);
}

.remove {
    background-color: rgb(90, 90, 90);
}